<div class="container">
  <div class="loginCard">
    <h2 class="heading">Log In</h2>
      <input
        placeholder="email" 
        [(ngModel)]="email"
        type="email" 
        name="email" 
        class="formInput" />
      <input type="password" 
        placeholder="password"
        [(ngModel)]="password"
        name="password" 
        class="formInput" />
      <button class="btn" 
              id="btn-login" 
              (click)="login()">
              Log In
      </button>
      <br/>
      <br/>
      <a id="btn-signUp" href="http://localhost:4200/signup" class="btn">Sign Up</a>
  </div>
</div>