<div class="navbar navbar-default col-md-12" role="navigation">
	<div class="container col-md-12">
    	<div class="navbar-header col-md-12">

    		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
    		</button>

      		<a class="navbar-brand" href="#">Project Presenter - Eleven Fifty Academy</a>
    	</div>
	<div class="navbar-collapse collapse">
	    <ul class="nav navbar-nav col-md-12">
	        <li>
	        	<a href="#">Signup</a>
	        	<p [myHighlight]="color">Highlight me!</p>
	        </li>
			<li>
				<a href="#">Login</a>
			</li>
			<li class="col-md-3">
				<a href="#">Logout</a>
			</li>
			<li class="col-md-3">
				<a href="#">Administrator</a>
			</li>
<!-- 	        <li class="dropdown">
		        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
			    <ul class="dropdown-menu">
					<li><a href="#">Action</a></li>
					<li><a href="#">Another action</a></li>
					<li><a href="#">Something else here</a></li>
					<li class="divider"></li>
					<li class="dropdown-header">Nav header</li>
					<li><a href="#">Separated link</a></li>
					<li><a href="#">One more separated link</a></li>
			    </ul>
	    	</li> -->
	    </ul>
	</div><!-- nav-collapse -->
  	</div>
</div>