<!-- J A R E D ' S   N A V B A R
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
<div class="navbar navbar-default col-md-12" role="navigation">
	<div class="container col-md-12">
    	<div class="navbar-header col-md-12">

    		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
    		</button>

      		<a class="navbar-brand" href="/app">Project Presenter - Eleven Fifty Academy</a>
    	</div>
	<div class="navbar-collapse collapse">
	    <ul class="nav navbar-nav col-md-12">
	        <li>
	        	<a href="/signup">Signup</a>
	        	<p [myHighlight]="color">Highlight me!</p>
	        </li>
			<li>
				<a href="/login">Login</a>
			</li>
			<li class="col-md-3">
				<a href="/login">Logout</a>
			</li>
			<li class="col-md-3">
				<a href="/admin">Administrator</a>
			</li>
	    </ul>
	</div>
  	</div>
</div>
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = -->

<div class="navBar">
    <div id="logo"></div>
    <div id="heading"><a routerLink="/"></a></div>
  <div class="links">
    <span>
      <a *ngIf="!(user|async)?.uid" href="/login" (click)="login()">Login</a>
    </span>
    <span>
      <a *ngIf="!(user|async)?.uid" routerLink="/signup">Sign Up</a>
    </span>
    <span>
      <span id="userEmail" *ngIf="(user|async)?.uid">Hello, {{userEmail}}</span>
    </span>
    <span>
      <a *ngIf="(user|async)?.uid" href="/login" (click)="logout()">Logout</a>
    </span>
  </div>
</div>
